.CheckoutSummaryWrap {
  height: 450px;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.CheckoutSummary {
  text-align: center;
  width: 80%;
  margin: auto;
}

@media (min-width: 600px) {
  .CheckoutSummary {
    width: 700px;
  }
}