.CheckoutSummaryWrap {
  width: 100%;
  height: 450px;
  margin: auto;
}

.CheckoutSummary {
  text-align: center;
  width: 80%;
  margin: auto;
}

@media (min-width: 600px) {
  .CheckoutSummary {
    width: 700px;
  }
}